
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    /* border: 1px red solid; */
    font-family: 'MiFuente';
    background-color:#3d4ff167 ;
 
    border: #03305862 2px solid ;

    

}
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.order{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    
}
.name{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.center{
    display: flex;
    flex-direction: row;
}
.image{
    width: auto;
    height: 50vh;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media only screen and (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        /* display: none; */
        /* background-color: rgb(255, 153, 0); */
    }
    .center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: rgb(255, 153, 0); */

    }
    .detail{
        display: flex;
        flex-direction: column;
        /* background-color: yellowgreen; */
    }
    .order{
        display: flex;

        flex-direction: row;
        /* background-color: yellow; */
    }
   
}