@font-face {
    font-family: 'MiFuente';
    src: url('../../views/NavBar/miFuente/TenorSans-Regular.ttf');
}
.img{
    width: 2vw;
    height: 4vh;
}
.button {
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover {
    background-color: rgba(112, 112, 112, 0.356);
    transition: 0.4s;
}

.div {
    /* border: 1px solid red; */
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px #0d49a1 solid;
    border-right: 1px #0d49a1 solid;
    background-color:#3d4ff167 ;
    /* opacity: 20; */

}

.label {
    margin: 10px;
    font-family: 'MiFuente';
    font-size: 20px;
}
    @media only screen and (max-width: 768px){

        .img {
            width: 5vw;
        }
        .label{
            font-size: 1em;
        }
    }