.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img{
    bottom: none;
}
.navLink{
    text-decoration: none;
    color: black;

}
.imgcard{
    height: 120px;
    width: 120px;

}
.card{
    
        border: 1px solid red;
        width: 250px;    
        margin: 10px;
        padding: 6px;
        height: 350px;
        min-height: 300px;
        max-height: 400px;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
    
}