.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img{
    bottom: none;
}
.navLink{
    text-decoration: none;
    color: black;

}
.imgcard{
    height: 16vh;
    width: 11vw;

}
.card {
    
    width: 25vw;    
    margin-top: 30px;
    padding: 6px;
    height: 50vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    flex: 0 0 20%;
    border-bottom: 1px #0d49a1 solid;
    border-right: 1px #0d49a1 solid;
    background-color:#3d4ff167 ;
    transition: 0.3s;
    font-family: 'MiFuente';
}
.card:hover{
    transition: 0.3s;
    transform: scale(1.02);

}
@media only screen and (max-width: 768px) {
  
    .card {

        width: 50vw;
        height: 40vh;
        font-size: 14px;
    }
        .imgcard {
        width: 100%;
        height: 50%;
        
        object-fit: cover;
    }
}
